<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
<body>
    <!-- header -->
	<%-include('./partials/header')%>
    <!-- ------ -->

    <!-- modals/ventanas emergentes -->
    <%-include('./partials/modals')%>
    <!-- //modals/ventanas emergentes-->

    <!-- Aquí va el main -->
    <div class="page-head_agile_info_w3l">
        <div class="container">
            <h3>Indumentaria por <span>marca </span></h3>
            <!--/w3_short-->
            <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">
                    <ul class="w3_short">
                        <li><a href="/">Home</a><i>|</i></li>
                    </ul>
                </div>
            </div>
    <!--//w3_short-->
    </div>
</div>

<!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- filters col de 4-->
        <%- include('./partials/brander') %> 
        <!-- Images of brand -->
        <div class="men-wear-top">
				
            <div  id="top" class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <img class="img-responsive" src="/images/<%= marcs.image %> " alt=" "/>
                    </li>
                   

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 products-right">
            <!-- Tarjeta ejemplo para un producto -->

            <!-- Contador para marcsName que contiene los nombres de los productos
            separado por guiones -->
            <% let i = 0 %> 
            <% if (products) { %>
                <% products.forEach(producto => { %>		
        
                    <div class="col-md-4 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <a href="/products/detail/<%= marcsName[i] %> ">										
                                <div class="men-thumb-item">						
                                    <img src="/images/<%= producto.imagen[0].name %>" alt="" class="pro-image-front">
                                    <img src="/images/<%= producto.imagen[0].name %>" alt="" class="pro-image-back">
                                
                                </div>
                                <span class="product-new-top">Talle: L</span>
                            </a>
                            <div class="item-info-product ">
                                <h4><a href="/products/detail/<%= marcsName[i] %> "><%= capitalize(producto.name) %> </a></h4>
                                <div class="info-product-price">
                                    <% if (producto.discount) { %>
                                        <span class="item_price">$<%= thousand(producto.price-(producto.price*producto.discount/100)) %> </span>
                                        <del>$<%= thousand(producto.price) %> </del>
                                    <% }else{ %>
                                        <span class="item_price">$<%= thousand(producto.price) %> </span>
                                    <%}%>
                                </div>

                                <div class="grid-productos">
                                    
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                        <a href="/products/detail/<%= marcsName[i] %> "><button class="button">Ver</button></a>
                                    </div>
                                            
                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                        <a href="<%= producto.linkpago %> "><button class="button">Comprar</button></a>
                                    </div>
                                </div>						
                            </div>
                        </div>
                    </div>
                    <% i++ %> 
                <%}); %>
            <% }else{ %>
                <h4>Pronto incluiremos productos sobre <%= categories.name %> </h4>
                
            <% } %> 		
        </div>		
    </div>
</div>
    <!-- Aquí cierra el main -->

    <%- include('./partials/pre-footer') %>
    <%- include('./partials/footer')%>    
    <%- include('./partials/scripts')%> 
</body>
</html>