<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
<body>
    <!-- header -->
	<%-include('./partials/header')%>
    <!-- ------ -->

    <!-- modals/ventanas emergentes -->
    <%-include('./partials/modals')%>
    <!-- //modals/ventanas emergentes-->

    <!-- Aquí va el main -->
    <div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>Carrito de <span>compras </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">
						   <ul class="w3_short">
								<li><a href="/">Home</a><i>|</i></li>
								<li>Carrito de compras</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	    </div>
    </div>

    <div class="banner-bootom-w3-agileits">
        <div class="container" >
            <form action="/confirmar-pago" method="post">
                <div class="grid-cart">
                    <div>
                        <!-- Producto en el carrito -->
                        <div class="products-right" style="margin-bottom: 1em;">
                            <div class="control-cart cart-column">
                                <div class="img-cart">
                                    <img src="images/m1.jpg" alt="">
                                </div>
                                <div class="info-grid-flex">
                                    <div>
                                        <span>Camisa Formal Azul</span>
                                    </div>
                                    <div>
                                        <h6>Precio:</h6>
                                        <span>$45,99</span>
                                    </div>
                                    <div>
                                        <h6>Cantidad:</h6>
                                        <input type="number" name="cant" min="1" max="20" value="1">                                
                                    </div>
                                    <div>
                                        <h6>Subtotal:</h6>
                                        <span>$45,99</span>
                                    </div>
    
                                </div>
                                
                                <div class="button-cancel">
                                    <button type="reset"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="products-right" style="margin-bottom: 1em;">
                            <div class="control-cart cart-column">
                                <div class="img-cart">
                                    <img src="images/m1.jpg" alt="">
                                </div>
                                <div class="info-grid-flex">
                                    <div>
                                        <span>Camisa Formal Azul</span>
                                    </div>
                                    <div>
                                        <h6>Precio:</h6>
                                        <span>$45,99</span>
                                    </div>
                                    <div>
                                        <h6>Cantidad:</h6>
                                        <input type="number" name="cant" min="1" max="20" value="1">                                
                                    </div>
                                    <div>
                                        <h6>Subtotal:</h6>
                                        <span>$45,99</span>
                                    </div>
    
                                </div>
                                
                                <div class="button-cancel">
                                    <button type="reset"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                       
                        <div class="products-right">
                            <div class="control-cart cart-column">
                                <div class="img-cart">
                                    <img src="images/m1.jpg" alt="">
                                </div>
                                <div class="info-grid-flex">
                                    <div>
                                        <span>Camisa Formal Azul</span>
                                    </div>
                                    <div>
                                        <h6>Precio:</h6>
                                        <span>$45,99</span>
                                    </div>
                                    <div>
                                        <h6>Cantidad:</h6>
                                        <input type="number" name="cant" min="1" max="20" value="1">                                
                                    </div>
                                    <div>
                                        <h6>Subtotal:</h6>
                                        <span>$45,99</span>
                                    </div>
    
                                </div>
                                
                                <div class="button-cancel">
                                    <button type="reset"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Fin de productoen el carrito -->

                    <!-- Total compra -->
                    <div class="products-right">
                        <div class="control-cart newsright slide-subtotal">
                            <div class="subtotales">
                                <small>Subtotal:</small>
                                <span>$ <%- (45.99*3) %> </span>
                            </div>
                            <div class="subtotales">
                                <small>Descuento:</small>
                                <span>$ 30.00</span>
                            </div>
                            <div class="subtotales">
                                <small>Valor de envio:</small>
                                <span>$ 130.00</span>
                            </div>
                            <div class="subtotales">
                                <small class="total">Total:</small>
                                <span>$ <%- 45.99*3-30+130 %> </span>
                            </div>
                            <input type="submit" value="Confirmar compra" style="margin-top: 1em; margin:0">
                        </div>
                    </div>
                </div>
            </form>            
        </div>
    </div>

    <!-- Aquí cierra el main -->

    <%- include('./partials/pre-footer') %>
    <%- include('./partials/footer')%>    
    <%- include('./partials/scripts')%> 
</body>
</html>