<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header') %>

    <!-- Aquí va el main -->
    <%- include('./partials/modals') %> 

    <!-- Aquí cierra el main -->

    <%- include('./partials/pre-footer') %>
    <%- include('./partials/footer')%>    
    <%- include('./partials/scripts')%> 
</body>
</html>