<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
<body>
    <%- include('./partials/header') %>

    <!-- Aquí va el main -->

    <!-- Aquí cierra el main -->

    <%- include('./partials/pre-footer') %>
    <%- include('./partials/footer')%>    
    <%- include('./partials/script')%> 
</body>
</html>