<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
<body>
    <!-- header -->
	<%-include('./partials/header')%>
    <!-- ------ -->

    <!-- modals/ventanas emergentes -->
    <%-include('./partials/modals')%>
    <!-- //modals/ventanas emergentes-->

    <!-- Aquí va el main -->
    <div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>Crear un <span>producto </span></h3>
			
	    </div>
    </div>

    <div class="banner-bootom-w3-agileits">
        <div class="container" >
            <form action="/product/agregar_producto" method="post">
                <div class="control-cart">
                    <div class="editaragregar">
                        <div style="border: black solid 1px" class="cargaimg">
                            <img src="/images/default.png" alt="" style="width: 60%;">
                            <input type="file" name="imgproducts" id="products" multiple>
                        </div>

                        <div style="border: black solid 1px">
                            <div>
                                <label for="nombre">Nombre: </label>
                                <input type="text" name="name" id="nombre">    
                            </div>
                            <div>
                                <label for="descripcion">Descripcion:</label>
                                <textarea name="description" id="descripcion" cols="30" rows="10" placeholder="Agregue descrición sobre el producto"></textarea>
                            </div>
                            <div>
                                <div >
                                    <div style="width: 1em; background-color: red"><label for="color">Color: </label></div>
                                    <input type="radio" name="color" id="color" value="rojo">
                                </div>
                                
                                <input type="radio" name="color" id="color" value="violeta">

                            </div>
                            <div>
                                <div>
                                    <select name="genero" id="genero">
                                        <option value="">Elija genero</option>
                                        <option value="masculino">Masculino</option>
                                        <option value="femenino">Femenino</option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div>
                                <select name="category" id="categoria">
                                    <option value="">Alija categoria</option>
                                    <option value="chaquetas">Chaquetas</option>
                                    <option value="Polerones">Polerones</option>
                                    <option value="poleras">Poleras</option>
                                    <option value="parcas">Parcas</option>
                                    <option value="camisas">Camisas</option>
                                    <option value="casacas">Casacas</option>
                                    <option value="shorts">Shorts</option>
                                    <option value="pantalones">Pantalones</option>
                                </select>
                            </div>
                            <div>
                                <input type="radio" name="talla" id="tallas">
                                <label for="tallas">S</label>
                                <input type="radio" name="talla" id="tallam">
                                <label for="tallam">M</label>
                                <input type="radio" name="talla" id="tallal">
                                <label for="tallal">L</label>
                                <input type="radio" name="talla" id="tallaxl">
                                <label for="tallaxl">XL</label>
                                <input type="radio" name="talla" id="tallaxxl">
                                <label for="tallaxxl">XXL</label>
                                <input type="radio" name="talla" id="tallaxxxl">
                                <label for="tallaxxxl">3XL</label>
                            </div>
                            <div>
                                <label for="precio">Precio: </label>
                                <input type="number" name="price" id="precio">
                            </div>
                            <div>
                                <label for="descuento">Descuento(%): </label>
                                <input type="number" name="discount" id="descuento">
                            </div>

                            
                        </div>

                    </div>

                </div>
                
            </form>
        </div>
    </div>

    <!-- Aquí cierra el main -->

<%- include('./partials/pre-footer') %>
<%- include('./partials/footer')%>    
<%- include('./partials/scripts')%> 
</body>
</html> 