<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>

    <body>
        <!-- header -->
        <%-include('./partials/header')%>
            <!-- ------ -->

            <!-- modals/ventanas emergentes -->
            <%-include('./partials/modals')%>
                <!-- //modals/ventanas emergentes-->

                <!-- Aquí va el main -->
                <div class="page-head_agile_info_w3l">
                    <div class="container">
                        <h3>Editar un <span>producto </span></h3>

                    </div>
                </div>

                <div class="banner-bootom-w3-agileits">
                    <div class="container">
                        <form action="/product/agregar_producto" method="post" multiform-data>                            
                                <div class="editaragregar d-flex">
                                    <div class="cargaimg marco ">
                                        <div class="mb-3 input-file" >
                                            <div class="mb-3">
                                                <label for="formFileMultiple" class="form-label">Elija la/s imagen/es</label>
                                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                                            </div>
                                            <div class="align-items-center justify-content-start">
                                                 <img id="preview-image3" src="/images/default.png">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="marco">
                                        <!-- input nombre -->
                                        <div class="grid-2fr1fr1fr">
                                            <div class="mb-3 d-flex flex-column">
                                                <label for="nombre" class="form-label">Nombre: </label>
                                                <input type="text" name="name" id="nombre" class="form-control" aria-label=".form-control-lg example">
                                            </div>
                                            <!-- input Precio -->
                                            <div class="mb-3 d-flex flex-column">
                                                <label for="precio" class="form-label">Precio:</label>
                                                <input type="number" name="price" id="precio" class="form-control">
                                            </div>
                                            <div>
                                                <label for="descuento" class="form-label">Descuento(%):</label>
                                                <input type="number" name="discount" id="descuento" class="form-control">
                                            </div>
                                        </div>
                                        <div>
                                            <!-- input descripcion -->
                                            <label for="descripcion">Descripcion:</label>
                                            <textarea name="description" id="descripcion" cols="100" rows="5"
                                                placeholder="Agregue descrición sobre el producto" class="form-control"></textarea>
                                        </div>
                                        <div class="grid-3fr flexible">

                                            <!-- select categoria -->
                                            <div>
                                                <label for="categoria" class="form-label">Categoria:</label>
                                                <select name="category" id="categoria" class="form-select form-select mb-3" aria-label=".form-select-lg example">
                                                    <option value="" select>Selecciona categoria</option>
                                                    <option value="chaquetas">Chaquetas</option>
                                                    <option value="Polerones">Polerones</option>
                                                    <option value="poleras">Poleras</option>
                                                    <option value="parcas">Parcas</option>
                                                    <option value="camisas">Camisas</option>
                                                    <option value="casacas">Casacas</option>
                                                    <option value="shorts">Shorts</option>
                                                    <option value="pantalones">Pantalones</option>
                                                </select>
                                            </div>
                                           
                                            <!-- Select color -->

                                            <div>
                                                <label for="color" class="form-label">Color:</label>
                                                <select name="color" id="color" class="form-select mb-3">
                                                    <option value="blanco"> Blanco</option>
                                                    <option value="negro">Negro</option>
                                                    <option value="gris">Gris</option>
                                                    <option value="amarillo">Amarillo</option>
                                                    <option value="azul">Azul</option>
                                                    <option value="rojo">Rojo</option>
                                                    <option value="verde">Verde</option>
                                                    <option value="morado">Morado</option>
                                                    <option value="naranja">Naranja</option>
                                                    <option value="marron">Marrón</option>
                                                    <option value="rosado">Rosado</option>
                                                    <option value="turquesa">Turquesa</option>
                                                    <option value="beige">Beige</option>

                                                </select>
                                            </div>

                                            <!-- Select talle -->
                                            <div>
                                                <label for="talla-superior" class="form-label">Talle:</label>
                                                <select name="talla" id="talle-superior" class="form-select mb-3">
                                                    <option value="s">S</option>
                                                    <option value="m">M</option>
                                                    <option value="l">L</option>
                                                    <option value="xl">XL</option>
                                                    <option value="xxl">XXL</option>
                                                    <option value="xxxl">3XL</option>
                                                </select>
                                            </div>
                                        </div>           
                                        <div>                                            
                                            <div class="d-flex grid-1fr flex-column justify-content-center align-items-center">
                                                <strong for="disponible">¿Sigue disponible?</strong>
                                                <div>
                                                    <label for="disponiblesi" class="form-check-label">Si</label>
                                                    <input type="radio" checked name="disponible" id="disponiblesi" class="form-check-input">
                                                    <label for="disponibleno" class="form-check-label">No</label>
                                                    <input type="radio" name="disponible" id="disponibleno" class="form-check-input">
                                                </div>                                                
                                            </div>                                                                                    
                                        </div>                                        
                                        <div class="botonera">
                                            <input type="submit" value="Crear producto" class="btn btn-success">
                                            <input type="reset" value="Volver a comenzar" class="btn btn-warning">
                                            <button class="btn btn-secondary">
                                                <a href="/users/administracion"
                                                    style="list-style: none;">Cancelar</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>

        <!-- Aquí cierra el main -->

        <%- include('./partials/pre-footer') %>
        <%- include('./partials/footer')%>
        <%- include('./partials/scripts')%>
    </body>

</html>