<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head')%>
<body>
    <!-- header -->
	<%-include('./partials/header')%>
    <!-- ------ -->

    <!-- modals/ventanas emergentes -->
    <%-include('./partials/modals')%>
    <!-- //modals/ventanas emergentes-->

    <!-- Aquí va el main -->
    <div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>Crear un <span>producto </span></h3>
			
	    </div>
    </div>

    <div class="banner-bootom-w3-agileits">
        <div class="container" >
            <form action="/product/agregar_producto" method="post">
                <div class="control-cart">
                    <div class="editaragregar">
                        <div style="border: black solid 1px">
                            <img src="/images/default.png" alt="" style="width: 60%;">
                            <input type="file" name="imgproducts" id="products" multiple>
                        </div>

                        <div style="border: black solid 1px">
                            <h5>contenio</h5>
                        </div>

                    </div>

                </div>
                
            </form>
        </div>
    </div>

    <!-- Aquí cierra el main -->

<%- include('./partials/pre-footer') %>
<%- include('./partials/footer')%>    
<%- include('./partials/scripts')%> 
</body>
</html> 